.site-container


.header
    background-image: url("img/header_background.png")
    display: flex
    justify-content: center
    align-items: center

#header-foreground
    position: absolute
    height: 100%
    width: 100%
    background-color: #111111
    opacity: 0.7
.navbar
    background-color: rgba(0,0,0,0)!important
    

nav .navbar-brand
    color: white !important
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 34px
    align:right

nav .navbar-brand > img
    filter: invert(100%)

nav .navbar-nav a
  color: white !important

nav .navbar-nav a:hover 
      color: #C7B299 !important

nav .navbar-nav .fa 
    color:white