.site-container
    display: flex
    flex-direction: column
    justify-content: space-between

.header
    background-image: url("img/header_background.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

#header-foreground
    position: absolute
    height: 100%
    width: 100%
    background-color: #111111
    opacity: 0.7

.navbar
    background-color: rgba(0,0,0,0)!important

nav .navbar-brand
    color: white !important
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 34px
    align:right

.navbar-brand
    padding-right: 200px

nav .navbar-brand > img
    filter: invert(100%)

nav .navbar-nav a
  color: white !important

nav .navbar-nav a:hover 
      color: #C7B299 !important

nav .navbar-nav .fa 
    color:white

.cart-search
    padding-left: 50px
    display: flex

.slide
    display: flex
    justify-content: space-between

.carousel-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 400px

.carousel-center > h2
    color:#FFFFFF
    font-family:Raleway-ExtraBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 36px
    text-align: center

.carousel-center > h3 
    color:#FFFFFF
    ont-family:Raleway-ExtraBold,AdobeInvisFont,MyriadPro-Regular
    font-size: 52px
    align:center
    text-align: center

.carousel-center > p 
    color:#FFFFFF
    font-family:Raleway-ExtraBold,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    text-align: center

.carousel-center > button
    background-color: #998675
    border-radius: 5px
    border: 0
    box-shadow: 0px 5px 0px #736357

.carousel-center > button > p
    color:#FFFFFF
    font-family:Raleway-ExtraBold,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px
    font-weight: bold
    margin: 10px 30px 

    
ol.carousel-indicators
    display: flex
    align-items: center

ol.carousel-indicators li,
ol.carousel-indicators li.active
    width: 10px
    height: 10px
    border-radius: 50%
    border: 0

ol.carousel-indicators li.active
    background: black
    border: 2px solid #D3C1AD
    