@import "scss/_functions.scss"
@import "scss/_variables.scss"
@import "scss/mixins/_breakpoints.scss"
.site-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-width: 400px

.header
    background-image: url("img/header_background.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    width: 100%

#header-foreground
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background:rgba(100,100,100, 0.7) !important
    width: 100%

.navbar
    background-color: rgba(0,0,0,0)!important

nav .navbar-brand
    color: white !important
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 34px
    align:right

nav .navbar-brand > img
    filter: invert(100%)


nav .navbar-nav a
    color: white !important

nav .navbar-nav a:hover 
    color: #C7B299 !important

nav .navbar-nav .fa 
    color:white

nav .navbar-toggler
    filter: invert(100%)

.slide
    display: flex
    justify-content: space-between

#header-foreground > .slide > .carousel > .carousel-inner
    


#header-foreground > .slide > .carousel > .carousel-inner > .carousel-item > .carousel-center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 200px

#header-foreground > .slide > .carousel > .carousel-inner > .carousel-item > .carousel-center > h2
    color:#FFFFFF
    font-family:Raleway-ExtraBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 36px
    text-align: center

#header-foreground > .slide > .carousel > .carousel-inner > .carousel-item > .carousel-center > h3 
    color:#FFFFFF
    ont-family:Raleway-ExtraBold,AdobeInvisFont,MyriadPro-Regular
    font-size: 52px
    align:center
    text-align: center

#header-foreground > .slide > .carousel > .carousel-inner > .carousel-item > .carousel-center > p 
    color:#FFFFFF
    font-family:Raleway-ExtraBold,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    text-align: center

.button-t
    color:#FFFFFF
    font-family:Raleway-ExtraBold,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px
    font-weight: bold
    background-color: #998675
    border-radius: 5px
    border: 0
    padding: 10px 30px
    transition: box-shadow 0.2s
    transition: color 0.2s
    transition: background-color 0.2s

.button-t:hover
    color: #998675
    background-color: white
    box-shadow: inset 0 0 10px #998675
    
#header-foreground > .slide > .carousel > ol.carousel-indicators
    display: flex
    align-items: center

ol.carousel-indicators > li,
ol.carousel-indicators > li.active
    width: 10px
    height: 10px
    border-radius: 50%
    border: 0

ol.carousel-indicators li.active
    background: black
    border: 2px solid #D3C1AD

.options
    display: flex
    justify-content: space-around
    align-items: baseline
    padding-top: 100px
    width: 80%

.option
    flex: 1 1 20%
    min-width: 20%
    max-width: 20%
    margin: 50px

.option > a
    display: flex
    flex-direction: column
    align-items: center
    color: #555555
    text-decoration: none

.option > a > h2
    text-align: center
    white-space: nowrap

.option > a > i 
    font-size: 3em
    padding-bottom: 30px

.option > a > p
    text-align: center
    color: #8C8C8C

.option > a > hr
    border-top: 5px solid #F1EEE9
    height: 20px
    width: 20%

.option > a > i,
.option > a > h2
    transition: color 0.2s

.option > a > hr
    transition: border-top 0.2s

.option > a:hover > i, 
.option > a:hover > h2,
    color: #C7B299

.option > a:hover > hr
    border-top: 5px solid #C7B299

.slideshow-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #FBFAF8
    width: 100%

.slideshow-header
    padding-top: 50px
    color:#555555
    font-family:Raleway-SemiBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 30px
    text-align: center

.slideshow-description
    color:#8C8C8C
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    text-align: center
    width: 50%


.slideshow-container > .slideshow-wrapper > .slide-images > .carousel > .carousel-inner > .carousel-item > img
    height: 400px !important
    width: 770px !important

.slideshow-container > .slideshow-wrapper > .slide-images > .carousel > ol.carousel-indicators
    display: flex
    align-items: center

.slideshow-container > .slideshow-wrapper
    width: 770px

.purchase
    background-image: linear-gradient(to right, #211B19, #4E3427)
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%

.purchase > .purchase-text
    padding: 20px

.purchase > .purchase-text > .purchase-text-wrapper
    display: flex

.purchase > .purchase-text > .purchase-text-wrapper > .purcahse-header-waxom
    color: #C7B299
    font-family: Raleway-Medium,Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 28px
    padding-right: 0.2em

.purchase > .purchase-text > .purcahse-text-header
    color: white
    font-family: Raleway-Medium,Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 28px

.purchase > .purchase-text > .purcahse-text-header > strong
    color: #C7B299
    font-family: Raleway-Medium,Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 28px

.purchase > .purchase-text > .purchase-text-description
    color:#615855
    font-family: Raleway-Medium,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular
    font-size: 18px

.projects
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

.projects > .projects-header
    color:#555555
    font-family:Raleway-SemiBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 30px
    text-align: center
    padding: 60px 0 10px 0
    

.projects > .projects-description
    color:#8C8C8C
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    text-align: center
    max-width: 70%
    padding: 0 0 20px 0

.projects > .project-list-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.projects > .project-list-wrapper > .btn-group
    display: flex
    flex-wrap: wrap

.projects > .project-list-wrapper > .btn-group > .btn
    color: #8C8C8C
    background-color: white
    border-color: #8C8C8C
    box-shadow: 0
    padding: 3px 25px 
    margin: 10px
    border-radius: 5px !important

.projects > .project-list-wrapper > .btn-group > .active
    border-color: #8C8C8C !important
    color: white !important
    background-color: #998675 !important
    box-shadow: 0 !important

.projects > .project-list-wrapper > .card-list
    display: flex
    justify-content: center
    align-items: center
    max-width: 50%
    margin: 0 auto

.projects > .project-list-wrapper > .card-list > .card-columns
    @include media-breakpoint-only(sm) 
        column-count: 1
    @include media-breakpoint-only(md)
        column-count: 1
    @include media-breakpoint-only(lg)
        column-count: 1
    @include media-breakpoint-only(xl)
        column-count: 3
    padding-top: 30px

    

.projects > .project-list-wrapper > .card-list > .card-columns > .card
    width: 372px !important

.projects > .project-list-wrapper > .card-list > .card-columns > .card > .card-img-top
    height: 270px !important

.projects > .project-list-wrapper > .card-list > .card-columns > .card > .card-body
    background-color: #FBFAF8 !important
    transition: background-color 0.2s

.projects > .project-list-wrapper > .card-list > .card-columns > .card > .card-body > .arrow-up
    width: 0
    height: 0
    border-left: 15px solid transparent
    border-right: 15px solid transparent
    border-bottom: 15px solid #FBFAF8
    position: relative
    top: -35px
    left: 20px
    transition: border-bottom 0.2s

.projects > .project-list-wrapper > .card-list > .card-columns > .card > .card-body > .card-title
    color: #C7B299
    transition: color 0.2s

.projects > .project-list-wrapper > .card-list > .card-columns > .card > .card-body > .card-text
    color: #D1D1D1
    transition: color 0.2s
    
.projects > .project-list-wrapper > .card-list > .card-columns > .card:hover > .card-body
    background-color: #362F2D !important

.projects > .project-list-wrapper > .card-list > .card-columns > .card:hover > .card-body > .arrow-up
    border-bottom: 15px solid #362F2D

.projects > .project-list-wrapper > .card-list > .card-columns > .card:hover > .card-body > .card-title
    color: white

.projects > .project-list-wrapper > .card-list > .card-columns > .card:hover > .card-body > .card-text
    color: #C7B299

.video
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    padding-top: 3%

.video > .video-wrapper
    position: relative
    width: 100%

.video > .video-wrapper >.video-box
    display: flex
    justify-content: center
    align-items: center

.video > .video-wrapper >.video-box > video
    max-width: 1920px
    width: 100%

.video > .video-wrapper >.video-box > .video-overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.video > .video-wrapper >.video-box > .video-overlay > h1
    color:#FFFFFF
    font-family:Raleway-ExtraBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 30px
    margin: 2% 0px

.video > .video-wrapper >.video-box > .video-overlay > h2
    color:#FFFFFF
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    width: 50%
    text-align: center

.mobile-devices
    display: flex
    flex-wrap: wrap-reverse
    justify-content: center
    align-items: center
    padding-top: 50px

.mobile-devices > .mobile-description 
    width: 50%

.mobile-devices > .mobile-description > .mobile-description-header
    color:#555555
    font-family:Raleway-SemiBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 30px

.mobile-devices > .mobile-description > .mobile-description-text
    color:#8C8C8C
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px


.mobile-devices > .mobile-description > ul
    list-style: none
    margin: 2em 0

.mobile-devices > .mobile-description > ul > li
    color:#8C8C8C
    font-family:Raleway-Medium,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    margin: 1em
    margin-left: 1em

.mobile-devices > .mobile-description > ul > li:before
    content: '\f105'
    font-family: 'FontAwesome'
    font-weight: bold 
    font-size: 19px
    float: left
    margin-left: -1.5em
    color: #998675

.statistics
    
    width: 100%
    background-image: linear-gradient(to right, #211B19, #4E3427)

.statistics > .card-list
    width: 90%
    max-width: 1200px
    margin: 0 auto

.statistics > .card-list > .card-columns
    @include media-breakpoint-only(sm) 
        column-count: 1
    @include media-breakpoint-only(md)
        column-count: 1
    @include media-breakpoint-only(lg)
        column-count: 5
    @include media-breakpoint-only(xl)
        column-count: 5

.statistics > .card-list > .card-columns > .card
    background-color: (0,0,0,0.2) !important

.statistics > .card-list > .card-columns > .card > .card-body
    border: 0

.statistics > .card-list > .card-columns > .card > .card-body > .card-title
    color: #C7B299
    font-size: 45px
    text-align: center

.statistics > .card-list > .card-columns > .card > .card-body > .card-subtitle
    color:#FFFFFF
    font-family:Montserrat-UltraLight,Roboto-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 48px
    text-align: center

.statistics > .card-list > .card-columns > .card > .card-body > .card-text
    color: #C7B299
    font-family:Roboto-Regular,Montserrat-Light,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px
    text-align: center
    text-transform: uppercase
    white-space: nowrap

.statistics > .card-list > .card-columns > .card > .card-body > hr
    background-color: white
    width: 25px
    height: 2px
    border-radius: 5px

.posts
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.posts > .posts-header
    color:#555555
    font-family:Raleway-SemiBold,Raleway-Medium,AdobeInvisFont,MyriadPro-Regular
    font-size: 30px
    text-align: center

.posts > .posts-description
    color:#8C8C8C
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 16px
    text-align: center

.sponsors
    background-image: url("img/sponsors/background.png")
    width: 100%

.sponsors > .sponsors-foreground
    background: rgba(33, 27, 25,  0.6)
    width: 100%

.sponsors > .sponsors-foreground > .sponsors-logo-container
    margin: 0 auto
    width: 80%
    max-width: 1200px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    padding: 140px 0

.sponsors > .sponsors-foreground > .sponsors-logo-container > .sponsor-logo
    margin: 20px 20px 

.footer
    background-color: #191919

.footer > .footer-container
    padding: 100px
    width: 80%
    margin: 0 auto

.footer > .footer-container > .row
    color: white

.footer > .footer-container > .row > .col-sm > .footer-logo 
    color: white
    font-family: Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 34px
    align:right
    text-decoration: none

.footer > .footer-container > .row > .footer-about


.footer > .footer-container > .row > .footer-about > .footer-logo > img
    filter: invert(100%)
    padding-bottom: 25px

.footer > .footer-container > .row > .footer-about > p
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px
    padding-bottom: 15px

.footer > .footer-container > .row > .footer-about > .footer-read-more
    color: #D1D1D1
    font-family:Montserrat-Regular,Raleway-Regular,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px
    text-decoration: none

.footer > .footer-container > .row > .footer-posts

.footer > .footer-container > .row > .footer-posts > p 
    color:#FFFFFF
    font-family:Raleway-Medium,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 24px

.footer > .footer-container > .row > .footer-posts > .post-list
    list-style-type: none
    padding-left: 0

.footer > .footer-container > .row > .footer-posts > .post-list > .post
    margin-bottom: 35px

.footer > .footer-container > .row > .footer-posts > .post-list > .post > a
    text-decoration: none

.footer > .footer-container > .row > .footer-posts > .post-list > .post > a > .post-date
    color:#363636
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 12px
    margin-bottom: 5px

.footer > .footer-container > .row > .footer-posts > .post-list > .post > a > .post-text
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px

.footer > .footer-container > .row > .footer-posts > .post-list > .post > a:hover > .post-date
    color:#FFFFFF
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 12px

.footer > .footer-container > .row > .footer-posts > .post-list > .post > a:hover > .post-text
    color:#C7B299
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 14px

.footer > .footer-container > .row > .footer-twitter > p
    color:#FFFFFF
    font-family:Raleway-Medium,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 24px

.footer > .footer-container > .row > .footer-twitter > .twitter-list
    list-style-type: none
    padding-left: 0

.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link
    text-decoration: none

.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link > .twitter-post-text
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 13px
.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link > .twitter-post-text > mark.tag
    color: #00BFF3
    background-color: inherit

.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link > .twitter-post-text > mark.link
    color: #959595
    background-color: inherit

.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link > .twitter-post-date
    color:#363636
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 12px

.footer > .footer-container > .row > .footer-twitter > .twitter-list > .twitter-post > a.twitter-link:hover > .twitter-post-text
    color:#C7B299

.footer > .footer-container > .row > .footer-dribble
    margin-left: 0

.footer > .footer-container > .row > .footer-dribble > p
    color:#FFFFFF
    font-family:Raleway-Medium,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 24px


.footer > .footer-container > .row > .footer-dribble > .dribble-img-container > .row > .dribble-image
    padding: 10px

.copyright
    width: 100%
    display: flex
    justsify-content: center
    flex-wrap: wrap
    align-items: center
    background-color: black

.copyright > .copyright-left
    margin: auto

.copyright > .copyright-left > ul
    list-style-type: none
    padding-left: 0

.copyright > .copyright-left > ul > li
    float: left
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 13px
    padding: 15px

.copyright > .copyright-left > ul > li:not(:last-child):after
    content: '\007C'
    color: #555555
    padding-left: 30px
    position: relative


.copyright > .copyright-left > ul > li > a
    text-decoration: none
    text-align: center
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 13px

.copyright > .copyright-left > ul > li.copyright-waxom > a
    text-decoration: none
    color: #959595

.copyright > .copyright-left > ul > li > a.faq-link
    color: #C7B299

.copyright > .copyright-right
    display: flex
    justify-content: space-around
    margin: auto

.copyright > .copyright-right > p
    color:#555555
    font-family:Montserrat-Light,Raleway-Bold,AdobeInvisFont,MyriadPro-Regular
    font-size: 13px
    margin-bottom: 0
    padding-left: 5px

.copyright > .copyright-right > p > a
    text-decoration: none
    color: #959595

@media only screen and (min-width: 1200px)
    #header-foreground > .slide > .carousel > .carousel-inner
        width: 1200px

@media only screen and (max-width: 992px)
    .slideshow-container > .slideshow-wrapper > .slide-images > .carousel > .carousel-inner
        height: 200px !important
        width: 380px !important
    .slideshow-container > .slideshow-wrapper
        width: 380px !important
    .slideshow-description
        width: 90%
    .options
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: center
        align-items: center
        padding-top: 50px
    #header-foreground > .slide > .carousel > .carousel-inner > .carousel-item > .carousel-center
        padding: 100px

    .purchase
        flex-direction: column
        justify-content: space-around
        align-items: center

    .purchase > .purchase-text
        display: flex
        flex-direction: column
        align-items: center

    .purchase > .purchase-text > .purcahse-text-header,
    .purchase > .purchase-text > .purchase-text-description
        text-align: center

    .purchase > .button-t
        margin-bottom: 20px
    .mobile-devices > img
        max-width: 100%
        height: auto

    .copyright > .copyright-left > ul > li
        padding: 5px
    
    .copyright > .copyright-left > ul > li:not(:last-child):after
        padding-left: 10px